
.p-qa-agenda {
  margin-bottom: 30px;
  padding: 20px;
}
.p-qa-question {
  border-left: 5px solid #2f9839;
  margin-bottom: 30px;
  padding: 20px;
}
.p-qa-answer {
  border-left: 5px solid #EA5405;
  margin-bottom: 30px;
  padding: 20px;
}
