.l-main {
  grid-row: 2;
  overflow: auto;
}

.l-main-sub {
  overflow: auto;
  .l-content-wrap {
    display: grid;
    grid-template-columns: 1fr;
    width: 92.1875%;
    max-width: 1180px;
    margin: 0 auto;
    .l-content {
      line-height: 2
    }
    .l-side {
    }
  }
}

@media (min-width: 1200px)  { 
  .l-main-sub {
    .l-content-wrap {
      display: grid;
      grid-template-columns: 3fr 1fr;
      grid-gap: 20px;
      .l-content {
      }
      .l-side {

      }
    }
  }
  
}
.hero-sub {
  width: 100%;
  min-width: inherit;
  height: 350px;
}
@media screen and (min-width:1260px) {
  .hero-sub {
    min-width: 1180px;
    height: 450px;
  }
}


.profile{
  .hero-sub {
    background: url(dist/img/sub-vidual01.jpg) no-repeat center center;
    background-size: cover;
    filter:sepia(70%);
  }
}
.idea{
  .hero-sub {
    background: url(dist/img/sub-vidual02.jpg) no-repeat center center;
    background-size: cover;
  }
}
.policy{
  .hero-sub {
    background: url(dist/img/sub-vidual03.jpg) no-repeat center center;
    background-size: cover;
  }
}
.activity_report{
  .hero-sub {
    background: url(dist/img/sub-vidual04.jpg) no-repeat center center;
    background-size: cover;
  }
}
.activity{
  .hero-sub {
    background: url(dist/img/sub-vidual05.jpg) no-repeat center center;
    background-size: cover;
  }
}
.blog, .post{
  .hero-sub {
    background: url(dist/img/sub-vidual06.jpg) no-repeat center center;
    background-size: cover;
  }
}
.report{
  .hero-sub {
    background: url(dist/img/sub-report.png) no-repeat center center;
    background-size: cover;

  }
}


