    <footer class="l-footer">
      <div class="l-footer-top ptb60">
        <div class="l-container">
          <div class="l-footer-wrap">
            <div class="l-footer--left p-footer-info">
              <h3 class="p-footer-logo">
                <a class="p-footer-logo__link" href="#" target="_blank"><img class="p-footer-logo--img" src="dist/img/f-logo.svg" alt=""></a>
              </h3>
              <p>〒124-8555</p>
              <p>東京都葛飾区立石5-13-1</p>
              <p>葛飾区役所内　区議会控室</p>
              <p>電話：03-5654-8523</p>
              <p class="pb30">FAX：03-3697-0137</p>
            </div>
            <div class="l-footer--center p-footer-nav__left">
              <ul class="l-footer-menu">
                <li><a href="#">プロフィール</a></li>
                <li><a href="#">理念</a></li>
                <li><a href="#">政策</a></li>
                <li><a href="#">活動報告</a></li>
                <li><a href="#">議会活動</a></li>
                <li><a href="#">ブログ</a></li>
                <li><a href="#">お問い合わせ</a></li>
                <li><a href="#">個人情報保護方針</a></li>
                <li><a href="#">サイトマップ</a></li>
              </ul>
            </div>
            <div class="l-footer--right p-footer-nav__right">
              <ul class="l-footer-menu">
                <li><a href="#"></a>葛飾区</li>
                <li><a href="#"></a>葛飾区議会</li>
                <li><a href="#"></a>国民民主党</li>
                <li><a href="#"></a>伊藤まさき</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="l-footer-bottom ptb15">
        <div class="l-container">
          <p class="l-footer-copyright"><small>Copyright &copy; <script type="text/javascript">$y=2017;$ny=new Date().getFullYear();document.write($ny>$y?$y+'-'+$ny:$y);</script>&nbsp;Kawagoe Seiichi Official Site.All Rights Reserved.</small></p>
        </div>
      </div>
    </footer>
  </div>
  <script src="dist/js/app.js"></script>
</body>
</html>