#footer_social_link li a:before {
  font-family: 'Material Icons';
  color: #333;
  font-size: 14px;
  width: 14px;
  height: 14px;
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  right: 0;
  margin: auto;
  content:'facebook';
}