// ==========================================================================
// project/card
// ==========================================================================

.p-cards {
  display: grid;
  grid-template-columns: 1fr;
  // grid-gap: 20px;
  align-items: stretch;
  .p-card {
    position: relative;
    margin-bottom: 50px;
    @include e(button) {
      background: #fff;
      position: absolute;
      bottom: 0;
      right: 0;
      min-width: 220px;
      height: 50px;
      line-height: 50px;
      &:hover {
        background: #000;
        color: #fff;
      }
      @include m(label) {
        text-align: center;
      }
    }
  }
}
@media screen and (min-width: 767px) {
  .p-cards { 
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}

@media (min-width: 900px) {
  .p-cards { 
    grid-template-columns: repeat(auto-fill, minmax(calc(100% / 3), 1fr));
    // grid-template-columns: repeat(3, 1fr); 
  }
}


/* horizen
-------------------------------------------------- */


.p-card-h {
  border: 1px solid #ddd;
  background: #fff;
  margin-top: -1px;

  @include m(img) {
    img {
      width: 100%;
      height: auto;
    }
  }
  @include m(text) {
    margin-bottom: 7px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    padding: 0 6.11354%;
  }
  @include m(title) {
    margin-bottom: 7px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
  }
  @include m(date) {
    color: #999;
    font-size: 12px;
  }
  @include e(cat) {
    font-size: 12px;
    a {
      color: #999;
      &:hover {
        color: #050505;
      }
      &:visited {
        color: #999;
      }
    }
  }

}
@media screen and (min-width: 991px) {
  .p-card-h {
    @include m(inner) {
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: center;
    }
    @include m(img) {
    }
  }
}

/* varticle
-------------------------------------------------- */
.p-card-v {
  display: grid;
  grid-template-columns: 1fr;
  align-items: stretch;
  background: #fff;
  @include e(header) {
    position: relative;
  }
  // @include m(img) {
  //   display: block;
  //   overflow: hidden;
  //   img {
  //     width: 100%;
  //     height: auto;
  //     transform: scale(1);
  //     vertical-align: middle;
  //     transition-duration: 0.5s;
  //   }
  // }
  @include e(title) {
    margin-bottom: 0;
    padding: 23.6px 8.10811%;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
  }
}

.p-date {
  display: inline-block;
  font-family: Arial, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-size: 14px;
  text-align: center;
}
.p-date__day {
  display: block;
  margin: 1px 0 1px;
  font-size: 34px;
}


/* varticle(blog)
-------------------------------------------------- */
.p-blog-v {
  display: grid;
  grid-template-columns: 1fr;
  align-items: stretch;
  background: #fff;
  position: relative;
  border: 1px solid #ddd;
  border-top: 0;
  margin-bottom: 40px;
  margin-left: -1px;
  position: relative;
  @include e(header) {
  }
  // @include m(img) {
  //   display: block;
  //   overflow: hidden;
  //   img {
  //     width: 100%;
  //     height: auto;
  //     transform: scale(1);
  //     vertical-align: middle;
  //     transition-duration: 0.5s;
  //   }
  // }
  @include e(title) {
    margin-bottom: 0;
    padding: 23.6px 8.10811%;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
  }
}

.p-date {
  display: inline-block;
  font-family: Arial, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-size: 14px;
  text-align: center;
}
.p-date__day {
  display: block;
  margin: 1px 0 1px;
  font-size: 34px;
}


.p-triangle {
  z-index: 1;
  position: absolute;
  width: 160px;
  height: 160px;
  padding-left: 20px;
  overflow: hidden;
}
.p-triangle::before {
  z-index: -1;
  position: absolute;
  top: -1px;
  left: 0;
  border-width: 75px;
  border-style: solid;
  border-color: #fff transparent transparent #fff;
  content: "";
  -webkit-filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}


.p-triangle {
  z-index: 1;
  position: absolute;
  width: 160px;
  height: 160px;
  padding-top: 10px;
  padding-left: 20px;
  overflow: hidden;
}
.p-triangle::before {
  z-index: -1;
  position: absolute;
  top: -1px;
  left: 0;
  border-width: 75px;
  border-style: solid;
  border-color: #fff transparent transparent #fff;
  content: "";
  -webkit-filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

.p-triangle-g {
  @extend .p-triangle;
  &::before {
    @extend .p-triangle::before;
    border-color: #f5f5f5 transparent transparent #f5f5f5;
  }
}


.p-hover-effect--type1 {
  display: block;
  overflow: hidden;
  background: #fff;
  img {
    width: 100%;
    height: auto;
    transform: scale(1);
    vertical-align: middle;
    transition-duration: 0.5s;
    &:hover {
      transform: scale(1.2);
    }
  }
}

@media screen and (min-width: 767px) {
  .p-hover-effect--type1:hover img {
    transform: none !important;
    opacity: 1 !important; }
  .p-hover-effect--type1 img {
    margin-right: 0 !important;
    margin-left: 0 !important;
    transform: none !important;
    transition: none !important;
  }
}


